.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_open {
  visibility: visible;
}

.modal__content {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  max-height: 436px;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
}

.modal__title {
  align-self: flex-start;
  margin: 0 0 24px;
  padding: 0;
  font-weight: 700;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../assets/closeBtn.png);
  max-width: 20px;
  max-height: 20px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: none;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 24px;
  border: 0cap;
}

.modal__block {
  border: 0cap;
  margin-top: 24px;
}

.modal__label {
  border-bottom: 1px;
  border-color: black;
  font-weight: 700;
}

.modal__input {
  margin-top: 8px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0cap;
  margin: 24px 0 0 0;
}

.modal__legend {
  padding-bottom: 12px;
  font-weight: 700;
  border: 0cap;
}

.modal__label_type_radio {
  padding-bottom: 8px;
  border: 0cap;
}

.modal__submit {
    margin-top: 32px;
    display: flex;
    width: 124px;
    height: 36px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px 16px;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: 0cap;
    color: rgba(255, 255, 255, 1);
}
