.toggle-switch{
    width: 56px;
    height: 28px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: flex;
    align-self: flex-end;
    margin: 0 20px 0 auto;
}

.toggle-switch__checkbox{
    opacity: 0;

}


.toggle-switch__circle{
    width: 28px;
    height: 28px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: -1px;
    transition: all 1s;

}

.toggle-switch__text{
    position: absolute;
    color: gray;
    top: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.36px;
    text-align: center;
}

.toggle-switch__F{
    left: 9px;

}

.toggle-switch__C{
    right: 9px;

}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle{
    left: 29px;
}

.toggle-switch__text_color_white{
    color: white;
}