.modal__submit {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background-color: #000000;
    width: 124px;
    height: 36px;
    border: none;
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
  }
  
  .modal__submit:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }