.card{
    width: 325px;
    height: 328px;
    border: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.card__container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 24px;
  margin-top: 15px;
  gap: 10px;
}


.card__name {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  padding: 2px 12px 2px 12px;
  border-radius: 4px;
  background: #ffffff;
}

.card__image {
  border: 1px;
  border-radius: 20px;
  width: 325px;
  height: 328px;
}


.card__like {
  background-image: url(../../assets/likebutton.png);
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 15px;
  border: none;
}

.card__like:hover {
  opacity: 50%;
  transition: 0.2s linear;
  cursor: pointer;
}

.card__like_active {
  background-image: url(../../assets/likedbutton.svg);
}