.card{
    width: 325px;
    height: 328px;
    border: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    position: relative;
    display: flex;
    justify-content: center;
}

.card__name{
    position: absolute;
    top: 15px;
    margin: 0;
}

.card__image{
    border-radius: 25px;
    width: 100%;
}