.weather-card{
    position: relative;
    max-width: 1360px;
    border-radius: 12px;
    display: flex ;
    height: 80px;
    overflow: hidden;
}

.weather-card__temp{
    font-size: 34px;
    line-height: 40px;
    margin: 0;
    position: absolute;
    top:20px;
    left:16px;
}

.weather-card__image{
    object-fit: cover;
    object-position: right top;
    width: 100%;
}