@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('../../vendor/cabinet-grotesk/CabinetGrotesk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cabinet Grotesk Bold';
  src: url('../../vendor/cabinet-grotesk/CabinetGrotesk-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.page {
  background-color: #f3f3f3;
  box-sizing: border-box;
}

.page__content {
  max-width: 1440px;
  margin: 0;
  padding: 0 40px;
  font-family: "CabinetGrotesk", Helvetica, sans-serif;
}