.header{
    display: flex;
    align-items: center;
    padding: 32px 0 28px;
    font-family: 'Cabinet Grotesk';
    height: 40px;
    max-width: 1360px;
}

.header_logo{
    margin-right: 24px;

}

.header__date-and-location{
    margin: 0;
    line-height: 24px;
    align-self: flex-end;
}

.header__add-clothes-btn{
    margin: 0 20px 0 auto;
    border: none
}

.header__user-container{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 25px;
}

.header__username{
    margin: 0;
}

.header__avatar{

}
