.header{
    display: flex;
    justify-content: space-between;
    padding: 32px 0 28px;
    font-family: 'Cabinet Grotesk';
    height: 40px;
    max-width: 1360px;
    width: 100%;
    align-items: center;
    top: 32px;
}

.header__left-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_logo{
    margin-right: 24px;
    margin-top: 0px;

}

.header__date-and-location{
    margin: 0;
    line-height: 24px;
}

.header__right-container{
    display: flex;
    align-items: center;
}

.header__add-clothes-btn{
    border: none
}

.header__user-container{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 25px;
}

.header__username{
    margin: 0;
}
