.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 28px;
  font-family: "Cabinet Grotesk";
  height: 40px;
  max-width: 1360px;
  width: 100%;
  align-items: center;
  top: 32px;
}

.header__left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_logo {
  margin-right: 24px;
  margin-top: 0px;
  width: 89px;
  height: 40px;
}

.header__date-and-location {
  margin: 0;
  line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__right-container {
  display: flex;
  align-items: center;
}

.header__add-clothes-btn {
  padding: 0;
  margin: 0 20px 0 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 25px;
}

.header__username {
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__avatar {
  width: 40px;
  height: 40px;
  left: 1320px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}