.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_open {
  visibility: visible;
}

.modal__item_content {
  background-color: rgba(255, 255, 255, 1);
  padding: none;
  position: relative;
  max-width: 498px;
  width: 100%;
  max-height: 610px;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.modal__item_image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;

}


.modal__item_close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../assets/WhiteCloseBtn.png);
  max-width: 20px;
  max-height: 20px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 0cap;
}

.modal__item_footer{
  margin: 32px 20px;
}


