.modal__content_type_image {
  max-width: 498px;
  max-height: 610px;
  margin: 0;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__image {
  max-width: 498px;
  max-height: 498px;
  width: 100%;
  display: block;
  object-fit: cover;
  padding: 0;
  margin: 0;
  border-radius: 20px 20px 0px 0px;
}

.modal__delete-button {
  color: rgba(255, 77, 0, 1);
  background: none;
  height: 24px;
  right: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  font-family: Cabinet Grotesk;
  border: none;
  position: absolute;
  padding: 0 32px 0 0;
  cursor: pointer;
}

.modal__footer {
  position: relative;
  padding: 20px 0 32px 32px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.modal__description {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  font-family: "CabinetGrotesk", Helvetica, sans-serif;
}

.modal__close {
  cursor: pointer;
  padding: 0;
  line-height: 14px;
  width: 14px;
  right: 24px;
  top: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.modal__weather {
  margin: 12px 0 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "CabinetGrotesk", Helvetica, sans-serif;
}

.modal__submit {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #000000;
  width: 124px;
  height: 36px;
  border: none;
  border-radius: 5px;
  padding: 0;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
