.footer {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 171px 17px 24px 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.footer__developer {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.footer__date {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}