.modal__title {
    font-family: Cabinet Grotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
  }
  
  .modal__form{
    font-family: Cabinet Grotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
  }
  
  .modal__button-div {
    display: flex;
    align-items: center;
    gap:12px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    font-family: Cabinet Grotesk;
  }
  
  .modal__button-sign-up {
    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    font-family: Cabinet Grotesk;
  }
  
  .modal__button-log-in {
    border: none;
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    font-family: Cabinet Grotesk;
    cursor: pointer;
  }